<template>
    <div>

<!-- Wrapper Start -->
    <div  class="wrapper">
      <div v-if="auth==='yes'"  class="iq-sidebar  sidebar-default  ">
          <div class="iq-sidebar-logo d-flex align-items-end justify-content-between">
               <a href="/" class="header-logo">
                  <img src="/images/logo2.png" class="img-fluid rounded-normal light-logo" alt="logo">
                  <img src="/images/logo2.png" class="img-fluid rounded-normal d-none sidebar-light-img" alt="logo">
                  <span>Edubora</span>            
              </a>
              <div class="side-menu-bt-sidebar-1">
                      <svg xmlns="http://www.w3.org/2000/svg" class="text-light wrapper-menu" width="30" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                  </div>
          </div>
          <div class="data-scrollbar" data-scroll="1">
              <nav class="iq-sidebar-menu">
                  <ul id="iq-sidebar-toggle" class="side-menu">
                      <li class="active sidebar-layout">
                          <router-link to="/home" href="#" class="svg-icon">
                              <i class="">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                                  </svg>
                              </i>
                              <span class="ml-2">Dashboard</span>
                              <p class="mb-0 w-10 badge badge-pill badge-primary"></p>
                          </router-link>
                      </li>
                      <li class="px-3 pt-3 pb-2 ">
                          <span class="text-uppercase small font-weight-bold">Menu</span>
                      </li>
                      <li class=" sidebar-layout">
                          <router-link to="/category" href="#" class="svg-icon ">
                              <i class="fa fa-book">
                                  
                              </i>
                              <span class="ml-2">Categories</span>
                          </router-link>
                      </li>
                      <li class=" sidebar-layout">
                          <router-link to="/teachers" href="#" class="svg-icon ">
                              <i class="fa fa-file">
                                  
                              </i>
                              <span class="ml-2">Teachers</span>
                          </router-link>
                      </li>
                      <li class=" sidebar-layout">
                          <router-link to="/mpesa/transactions" href="#" class="svg-icon ">
                              <i class="fa fa-edit">
                                 
                              </i>
                              <span class="ml-2">Mpesa</span>
                          </router-link>
                      </li>
                      <li class=" sidebar-layout">
                          <router-link to="/payment/transactions" href="#" class="svg-icon ">
                              <i class="">
                                  <svg class="icon line" width="18" id="receipt" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor">
                                      <path d="M17,16V3L13,5,10,3,7,5,3,3V17.83A3.13,3.13,0,0,0,5.84,21,3,3,0,0,0,9,18V17a1,1,0,0,1,1-1H20a1,1,0,0,1,1,1v1a3,3,0,0,1-3,3H6" style="fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path>
                                      <line x1="8" y1="10" x2="12" y2="10" style="fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></line>
                                  </svg> 
                              </i>
                              <span class="ml-2">Payment </span>
                          </router-link>
                      </li>
                      <li class=" sidebar-layout">
                          <router-link to="/taxes" href="#" class="svg-icon ">
                              <i class="">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
                                  </svg>
                              </i>
                              <span class="ml-2">Taxes</span>
                          </router-link>
                      </li>
                      <li class=" sidebar-layout">
                          <router-link to="/clients" href="#" class="svg-icon ">
                              <i class="fa fa-users">
                                 
                              </i>
                              <span class="ml-2">Clients</span>
                          </router-link>
                      </li>
                      <li class=" sidebar-layout">
                          <router-link to="/users" href="#" class="svg-icon ">
                              <i class="fa fa-user">
                                 
                              </i>
                              <span class="ml-2">Users</span>
                          </router-link>
                      </li>
                      <li class=" sidebar-layout">
                          <router-link to="/password" href="#" class="svg-icon ">
                              <i class="fa fa-key">
                                 
                              </i>
                              <span class="ml-2">Password</span>
                          </router-link>
                      </li>
                      <li class=" sidebar-layout">
                          <a v-on:click="logout()" href="#" class="svg-icon ">
                              <i class="fa fa-arrow-right">
                                  
                              </i>
                              <span class="ml-2">Logout</span>
                          </a>
                      </li>
                  </ul>
              </nav>
              <div class="pt-5 pb-5"></div>
          </div>
      </div>
       <div v-if="auth==='yes'" class="iq-top-navbar">
          <div class="iq-navbar-custom">
              <nav class="navbar navbar-expand-lg navbar-light p-0">
                  <div class="side-menu-bt-sidebar">
                      <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary wrapper-menu" width="30" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                      </svg>
                  </div>
                  <div class="d-flex align-items-center">
                     
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-label="Toggle navigation">
                          <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary" width="30" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                          </svg>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav ml-auto navbar-list align-items-center">
                                                     
                              
                              <li class="nav-item nav-icon search-content">
                                  <a href="index.html#" class="search-toggle rounded" id="dropdownSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <svg class="svg-icon text-secondary" id="h-suns" height="25" width="25" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                      </svg>
                                  </a>
                                  <div class="iq-search-bar iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownSearch">
                                      <form action="index.html#" class="searchbox p-2">
                                          <div class="form-group mb-0 position-relative">
                                          <input type="text" class="text search-input font-size-12" placeholder="type here to search...">
                                          <a href="index.html#" class="search-link">
                                              <svg xmlns="http://www.w3.org/2000/svg" class="" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                              </svg>
                                          </a> 
                                          </div>
                                      </form>
                                  </div>
                              </li>
                              <li class="nav-item nav-icon dropdown">
                                  <a href="index.html#" class="nav-item nav-icon dropdown-toggle pr-0 search-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                      <img src="/assets/images/user/1.jpg" class="img-fluid avatar-rounded" alt="user">
                                      <span class="mb-0 ml-2 user-name">{{ name }}</span>
                                  </a>
                                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                      <li class="dropdown-item  d-flex svg-icon border-top">
                                          <svg class="svg-icon mr-0 text-secondary" id="h-05-p" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                                          </svg>
                                          <a v-on:click="logout()" href="#">Logout</a>
                                      </li>
                                  </ul>
                              </li>
                          </ul>                     
                      </div> 
                  </div>
              </nav>
          </div>
      </div>
      <div v-if="auth==='yes'" class="content-page">
<div class="container-fluid">
 
<router-view></router-view>
    
    <!-- Page end  -->

</div>
      </div>
            <div v-else class="">
<div class="container-fluid">
 
<router-view></router-view>
    
    <!-- Page end  -->

</div>
      </div>
    </div>
    
    <!-- Wrapper End-->
    

    </div>
    
</template>
<script>


export default {
    data() {
        return{
            name:'',
            auth:''
        }
        
    },
    created(){
        this.name=localStorage.getItem('name');
        this.auth=localStorage.getItem('auth');
    },
    watch:{
        '$route'(to,from){
             this.name=localStorage.getItem('name');
        this.auth=localStorage.getItem('auth');

        }
        },
        methods:{
        logout(){
            localStorage.removeItem('token');
            localStorage.removeItem('auth');
            this.$router.push({name:'login'});
        }
    }
}
</script>
