<template>

  <div class="container ">
        <div class="row justify-content-center">
            <div class="col-sm-12"> 
              <div class="card">
         <div class="card-body">
        <div class="d-flex justify-content-between align-items-center p-3">
         <h5 class="font-weight-bold">Category List</h5>
        <div class="create-workform">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
        <div class="modal-product-search d-flex">
        <router-link to="/category/add" href="#" class="btn btn-warning position-relative d-flex align-items-center justify-content-between">
        <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
             </svg>
             New category
          </router-link>
         </div>                            
         </div>
       </div>                    
        
         </div>    

    <div class="table-responsive ">
 <table class="table table-sm table-bordered" id="table">
     <thead class="table-color-heading">
       <tr>
       <th scope="col"># </th>
       <th scope="col"> Name </th>
       <th scope="col"> Number of Classes </th>
       <th scope="col"> Number of Subjects </th>
       <th scope="col"> Edit</th>
        <th scope="col">Classes </th>
       <th scope="col">Subjects </th>
        </tr>
         </thead>
         <tbody>
        <tr v-for="(data, index) in categories" :key="data.id">
         <td>{{index+1}}</td>
         <td>{{data.name}}</td>
         <td>{{data.darasa_count}}</td>
         <td>{{data.subject_count}}</td>
         <td> <router-link :to="{name: 'editcategory' , params: { id: data.id }}" class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"> <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary mx-4" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
         </svg></router-link></td>
         <td> <router-link :to="{name: 'classes', params: { id: data.id }}" class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="View"><svg xmlns="http://www.w3.org/2000/svg" class="text-secondary mx-4" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
         </svg></router-link></td>
         <td> <router-link :to="{name: 'subjects', params: { id: data.id }}" class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="View"><svg xmlns="http://www.w3.org/2000/svg" class="text-success mx-4" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
         </svg></router-link></td>
        </tr>

         </tbody>

         </table>
          </div>
             </div>
             </div>
                    </div>
               
            </div>
        </div>
</template>
<script>
    export default {
        data(){
            return {
                categories: [],
                proxyUrl: process.env.MIX_APP_URL,
                
            }
        },
        created(){
           this.getCategory();
        },
       
        methods: {
            getCategory() {
              this.$loading(true)
              const token = 'Bearer  ' + localStorage.getItem('token');
                let uri =this.proxyUrl+`category`;
                this.axios.get(uri,{headers: {Authorization:token}}).then((response) => {
                   this.$loading(false)
                   
                   this.categories=response.data.category 
                      
                }).catch(error => {
                      this.$loading(false)
                    if (error.response.status === 401) {
                    this.$router.push({ name: "login" });
                    clearSession();
                    } else {
                    this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
                    });
                    }
                });

            },

        },



    }

</script>
