<template>
    <div>
         <div class="container h-100">
            <div class="row a justify-content-center h-100">
               <div class="col-lg-8">
                  <div class="card">
                     <div class="card-title p-3">Classes for {{cat.name}}
                          <form v-on:submit.prevent="addDarasa()" class="row">
                           
                                 <div class="form-group col-sm-10">
                                    <input type="text" class="form-control" required v-model="message.name" name="name"  id="name" placeholder="Name e.g Form 1,class 6">
                                 </div>
                                 <div class="form-group col-sm-2">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                 </div>
                          </form>
                     </div>
                     <div class="card-body">
                                  <div class="table-responsive">
 <table class="table  float-right" id="table">
     <thead>
       <tr>
       <th scope="col"># </th>
       <th scope="col"> Name </th>
     
        <th scope="col"> Edit </th>
        </tr>
         </thead>
         <tbody>
        <tr v-for="(data, index) in darasa" :key="data.id">
         <td>{{index+1}}</td>
         <td>{{data.name}}</td>
         <td><a href="#" v-on:click="editclass(data.id,data.name)"><i class="fa fa-edit"></i></a></td>
        </tr>

         </tbody>

         </table>
             </div>
         
                           
          </div>
                           
               </div>
            </div>
            </div>
         </div>
         

         <div class="modal fade" id="editclass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="exampleModalLabel">Edit classes</h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                                 </button>
                              </div>
                              <div class="modal-body">
                                <div class="form-group col-sm-10">
                                   <label>Calss name</label>
                                    <input type="text" class="form-control" required v-model="classdata.name" name="name"  id="name" placeholder="Name e.g Form 1,class 6">
                                 </div>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                 <button type="button" v-on:click="updateDarasa()" class="btn btn-primary">Save changes</button>
                              </div>
                           </div>
                        </div>
         </div>
      </div>
</template>
<script>
   export default {
        data(){
            return {
                darasa: [],
                classdata:{id:'',name:''},
                message:{},
                cat:{},
                proxyUrl: process.env.MIX_APP_URL,
                
            }
        },
        created(){
           this.getDarasa();
        },
       
        methods: {
           editclass(id,name){
             this.classdata.id=id;
             this.classdata.name=name;
             $('#editclass').modal('show');
           },
           updateDarasa(){
               this.$loading(true)
              const token = 'Bearer  ' + localStorage.getItem('token');
                let uri =this.proxyUrl+`updateDarasa`;
                this.axios.post(uri,this.classdata,{headers: {Authorization:token}}).then((response) => {
                   this.$loading(false)
                  if(response.data.status){
                            $('#editclass').modal('hide');
                            this.$toast.open({ message: response.data.message,type: "success", position: "top", });
                            this.getDarasa();
                    }else{
                        this.$toast.open({ message: response.data.message,type: "error", position: "top", });
                       
                    }
                }).catch(error => {
                     this.$loading(false)
                     if (error.response.status === 401) {
                    this.$router.push({ name: "login" });
                    clearSession();
                    } else {
                    this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
                    });
                    }
                });
           },
            getDarasa() {
              this.$loading(true)
              const token = 'Bearer  ' + localStorage.getItem('token');
                let uri =this.proxyUrl+`darasa/${this.$route.params.id}`;
                this.axios.get(uri,{headers: {Authorization:token}}).then((response) => {
                   this.$loading(false)
                   this.cat=response.data.category
                   this.darasa=response.data.darasa
                      
                }).catch(error => {
                     this.$loading(false)
                         if (error.response.status === 401) {
                    this.$router.push({ name: "login" });
                    clearSession();
                    } else {
                    this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
                    });
                    }
                });

            },
            addDarasa(){
               this.message.category_id=this.cat.id;
               this.$loading(true)
              const token = 'Bearer  ' + localStorage.getItem('token');
                let uri =this.proxyUrl+`adddarasa`;
                this.axios.post(uri,this.message,{headers: {Authorization:token}}).then((response) => {
                   this.$loading(false)
                  if(response.data.status){
                            this.$toast.open({ message: response.data.message,type: "success", position: "top", });
                            this.message={};
                            this.getDarasa();
                    }else{
                        this.$toast.open({ message: response.data.message,type: "error", position: "top", });
                       
                    }
                }).catch(error => {
                     this.$loading(false)
                     if (error.response.status === 401) {
                    this.$router.push({ name: "login" });
                    clearSession();
                    } else {
                    this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
                    });
                    }
                });


            },
        },


        



    }
</script>
