<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12"> 
              <div class="card">
                  <div class="card-title">Clients</div>
            <div class="card-body">
        
          <div class="table-responsive ">
          <table class="table table-sm table-bordered" id="table">
   <thead class="table-color-heading">
         <tr class="">
                                              
         <th scope="col"> # </th>
         <th scope="col"> Name </th>
         <th scope="col"> Email </th>
         <th scope="col"> Phone</th>
         <th scope="col"> Gender</th>
         <th scope="col">Status</th>
          <th scope="col">Date</th>
          
            </tr>
            </thead>
             <tbody>
                 <tr v-for="(data, index) in teachers" :key="data.id">
         <td>{{index+1}}</td>
         <td>{{data.name}}</td>
         <td>{{data.email}}</td>
         <td>{{data.phone}}</td>
          <td>{{data.gender}}</td>
         <td v-if="data.status==='Active'" class="text-success">{{data.status}} </td>
         <td v-else class="text-danger">{{data.status}} </td>
         <td>{{data.created_at}}</td>
         
        </tr>
           </tbody>
             </table>
                 </div>
             </div>
                        </div>
                   
                </div>



               
            </div>
    </div>

</template>
<script>
    export default {
        data(){
            return {
                teachers: [],
                proxyUrl: process.env.MIX_APP_URL,
                message:{id:'',status:''},
            }
        },
        created(){
           this.getClients(); 
        },
        methods: {
           
           
            getClients() {
              this.$loading(true)
              const token = 'Bearer  ' + localStorage.getItem('token');
                let uri =this.proxyUrl+`getClients`;
                this.axios.get(uri,{headers: {Authorization:token}}).then((response) => {
                   this.$loading(false)
                   this.teachers=response.data.teachers
                }).catch(error => {
                    this.$loading(false)
                     if (error.response.status === 401) {
                    this.$router.push({ name: "login" });
                    clearSession();
                    } else {
                    this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
                    });
                    }
                });

            },
             formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        },



    }

</script>
