<template>
    <body>
         <div class="container h-100">
            <div class="row align-items-center justify-content-center h-100">
               <div class="col-lg-6">
                  <div class="card p-3">
                     <div class="card-title">Edit category</div>
                     <div class="card-body">
                         <form v-on:submit.prevent="updateCategory()">
                           <div class="row">
                              <div class="col-lg-12">
                                 <div class="form-group">
                                    <label class="text-secondary">Name</label>
                                    <input type="text" class="form-control"  v-model="message.name"   id="name" >
                                 </div>
                              </div>
                              <div class="col-lg-12 mt-2">
                                 <div class="form-group">
                                     <div class="d-flex justify-content-between align-items-center">
                                         <label class="text-secondary">Description</label>
                                        
                                     </div>
                                    <textarea class="form-control" v-model="message.description"   id="description" rows="5" ></textarea>
                                 </div>
                              </div>
                           </div>
                           <button type="submit" class="btn btn-primary btn-block mt-2">Edit</button>
                           <div class="col-lg-12 mt-3">
                                <p class="mb-0 text-center"><router-link to="/category" href="#!">Cancel</router-link></p>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </body>
</template>
<script>
    export default {
        data(){
            return {
                
                proxyUrl: process.env.MIX_APP_URL,
                message: {},
               
         
            }
        },
        created(){
           this.getCategory();
        },
       
        methods: {
            getCategory() {
              this.$loading(true)
              const token = 'Bearer  ' + localStorage.getItem('token');
                let uri =this.proxyUrl+`category/${this.$route.params.id}`;
                this.axios.get(uri,{headers: {Authorization:token}}).then((response) => {
                   this.$loading(false)
                   
                   this.message=response.data.category
                      
                }).catch(error => {
                    this.$loading(false)
                  
                    this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                });

            },
            updateCategory() {
              this.$loading(true)
              const token = 'Bearer  ' + localStorage.getItem('token');
                let uri =this.proxyUrl+`category/update/${this.$route.params.id}`;
                   this.axios.post(uri, this.message,{headers: {Authorization:token}}).then((response) => {
                   this.$loading(false)
                    if(response.data.status){
                            this.$toast.open({ message: response.data.message,type: "success", position: "top", });
                            this.getCategory();
                    }else{
                        this.$toast.open({ message: response.data.message,type: "error", position: "top", });
                    }
                }).catch(error => {
                     this.$loading(false)
                     if (error.response.status === 401) {
                    this.$router.push({ name: "login" });
                    clearSession();
                    } else {
                    this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
                    });
          }
                   
                });

            },


        },



    }

</script>
