<template>

         <div class="container  mt-5">
            <div class="row  justify-content-center ">
               <div class="col-sm-5">
                  <div class="card">
                     <div class="card-body">
                           <div class="auth-logo">
                           <img src="/images/logo2.png" class="img-fluid rounded-normal light-logo" alt="logo">
                        </div>
                        <h3 class="mb-3 font-weight-bold text-center">Reset password</h3>
                       
                        <div class="mb-5">
                            <p class="line-around text-secondary mb-0"><span class="line-around-1">Enter your email and get password</span></p>
                        </div>
                        <!-- <h2 class="mb-2 text-center">Sign In</h2> -->
                        <form v-on:submit.prevent="login()">
                           <div class="row">
                              <div class="col-lg-12">
                                 <div class="form-group">
                                    <label>Email</label>
                                    <input  type="email" v-model="message.email" class="form-control" id="email" placeholder="admin@example.com">
                                 </div>
                              </div>
                              
                              <div class="col-lg-6">
                                 <router-link to="/login" href="#" class="text-primary float-right" >Login instead?</router-link>
                              </div>
                              
                           </div>
                           <button type="submit"  class="btn btn-primary btn-block mt-2">Get OTP</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
            }
        },
        

        
        methods: {
            login() {
              this.$loading(true)
                let uri =this.proxyUrl+`getCode`;
                this.axios.post(uri, this.message).then((response) => {
                   this.$loading(false)
                   
                    if(response.data.status){
                        this.$toast.open({ message: response.data.status,type: "success", position: "top", });
                            this.$router.push({name: 'login'});
                    }else{
                        this.$toast.open({ message: response.data.status,type: "error", position: "top", });
                        localStorage.removeItem('token')
                    }
                }).catch(error => {
                    this.$loading(false)
                   this.$toast.open({ message: "Something went wrong,please try again later!",type: "error", position: "top", });
                });

            },

        },



    }

</script>
