<template>
    <div>
        <div class="row">
      <div class="col-md-12 mb-4 mt-1">
         <div class="d-flex flex-wrap justify-content-between align-items-center">
             <h4 class="font-weight-bold">Overview</h4>
         </div>
      </div>
      <div class="col-lg-12 col-md-12">
         <div class="row">
            <div class="col-md-4">
               <div class="card">
                  <div class="card-body">
                     <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-2 text-secondary">Clients</p>
                            <div class="d-flex flex-wrap justify-content-start align-items-center">
                               <h5 class="mb-0 font-weight-bold">{{message.clients}}</h5>
                               <p class="mb-0 ml-3 text-success font-weight-bold">Ksh. {{formatPrice(message.payments)}}</p>
                            </div>                            
                        </div>
                     </div>
                  </div>
               </div>   
            </div>
            <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-2 text-secondary">Teachers</p>
                            <div class="d-flex flex-wrap justify-content-start align-items-center">
                               <h5 class="mb-0 font-weight-bold">{{message.teachers}}</h5>
                               <p class="mb-0 ml-3 text-success font-weight-bold">Ksh.{{formatPrice(message.withdrawals)}}</p>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>   
            </div>
            <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                           <p class="mb-2 text-secondary">Items uploaded</p>
                           <div class="d-flex flex-wrap justify-content-start align-items-center">
                              <h5 class="mb-0 font-weight-bold">{{message.items}}</h5>
                              <p class="mb-0 ml-3 text-danger font-weight-bold">{{message.files}} files</p>
                           </div>                            
                        </div>
                    </div>
                </div>
            </div>   
            </div>
           
         </div>
      </div>
        </div>

         
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-table">
                        <div class="card-header">Sales summery this year
                            <div class="tools dropdown"><span class="icon mdi mdi-download"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-sm-8">
                                        <canvas id="chLine"></canvas>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                teachers: [],
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                info:{},
            }
        },
        created(){
           this.getAdminDashboard(); 
        },
        methods: {
           
            getAdminDashboard() {
              this.$loading(true)
              const token = 'Bearer  ' + localStorage.getItem('token');
                let uri =this.proxyUrl+`getAdminDashboard`;
                this.axios.get(uri,{headers: {Authorization:token}}).then((response) => {
                   this.$loading(false)
                   this.message=response.data;
                   this.info=response.data.info[0];
                   this.loadchart();
                }).catch(error => {
                    this.$loading(false)
                     if (error.response.status === 401) {
                    this.$router.push({ name: "login" });
                    clearSession();
                    } else {
                    this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
                    });
                    }
                });

            },
             loadchart(){
                var chartData = {
                    labels: ["Jan", "Feb", "Mat", "Apr", "May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
                    datasets: [{
                        label: 'This year sales',
                        data: [this.info.jan, this.info.feb, this.info.mar, this.info.apr, this.info.may,this.info.jun,this.info.jul,this.info.aug,this.info.sep,this.info.octb,this.info.nov,this.info.dece],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                    },]
                };


                var chLine = document.getElementById("chLine");
                if (chLine) {
                    new Chart(chLine, {
                        type: 'line',
                        data: chartData,
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            },
                            legend: {
                                display: false
                            }
                        }
                    });
                }
            },
             formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        },



    }

</script>
