<template>

         <div class="container  mt-5">
            <div class="row  justify-content-center ">
               <div class="col-sm-5">
                  <div class="card">
                     <div class="card-body">
                           <div class="auth-logo">
                           <img src="/images/logo2.png" class="img-fluid rounded-normal light-logo" alt="logo">
                        </div>
                        <h3 class="mb-3 font-weight-bold text-center">Administrator</h3>
                       
                        <div class="mb-5">
                            <p class="line-around text-secondary mb-0"><span class="line-around-1">Enter your email and password</span></p>
                        </div>
                        <!-- <h2 class="mb-2 text-center">Sign In</h2> -->
                        <form v-on:submit.prevent="login()">
                           <div class="row">
                              <div class="col-lg-12">
                                 <div class="form-group">
                                    <label>Email</label>
                                    <input  type="email" v-model="message.email" class="form-control" id="email" placeholder="admin@example.com">
                                 </div>
                              </div>
                              <div class="col-lg-12">
                                 <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" v-model="message.password" class="form-control" id="password" placeholder="********">
                                 </div>
                              </div>
                              <div class="col-lg-12">
                                 <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Keep me signed in</label>
                                 </div>
                              </div>
                              <div class="col-lg-6">
                                 <router-link to="/forgotpass" href="#" class="text-primary float-right" >Forgot Password?</router-link>
                              </div>
                              
                           </div>
                           <button type="submit"  class="btn btn-primary btn-block mt-2">Sign In</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
            }
        },
        
        methods: {
            login() {
              this.$loading(true)
                let uri =this.proxyUrl+`login`;
                this.axios.post(uri, this.message).then((response) => {
                   this.$loading(false)
                   
                    if(response.data.status){
                        if(response.data.user.user_type==='admin'){
                            localStorage.setItem('token', response.data.access_token);
                            localStorage.setItem('name', response.data.user.name);
                            localStorage.setItem('user_type', response.data.user.user_type);
                            localStorage.setItem('auth', 'yes');
                            this.$toast.open({ message: "Success login",type: "success", position: "top", });
                            if(response.data.user.password_changed==='Yes'){
                            this.$router.push({name: 'home'});
                            }else{
                            this.$router.push({name: 'password'});
                            }
                        }else{
                             this.$toast.open({ message: "Unauthorised access!",type: "error", position: "top", });
                        }
                        // this.$router.go(this.$router.currentRoute)
                    }else{
                        this.$toast.open({ message: response.data.message,type: "error", position: "top", });
                        localStorage.removeItem('token')
                    }
                }).catch(error => {
                    this.$loading(false)
                   this.$toast.open({ message: "Something went wrong,please try again later!",type: "error", position: "top", });
                });

            },

        },



    }

</script>
