<template>
    <body>
         <div class="container h-100">
            <div class="row align-items-center justify-content-center h-100">
               <div class="col-lg-6">
                  <div class="card p-3">
                     <div class="card-title p-3">Change password</div>
                     <div class="card-body">
                        <form v-on:submit.prevent="changePassword()">
                           <div class="row">
                              <div class="col-lg-12">
                                 <div class="form-group">
                                    <label class="text-secondary">Current password</label>
                                    <input type="password" class="form-control" v-model="message.currentpass" name="name">
                                 </div>
                              </div>
                               <div class="col-lg-12">
                                 <div class="form-group">
                                    <label class="text-secondary">New password</label>
                                    <input type="password" class="form-control" v-model="message.password" name="name">
                                 </div>
                              </div>
                               <div class="col-lg-12">
                                 <div class="form-group">
                                    <label class="text-secondary">Confirm password</label>
                                    <input type="password" class="form-control" v-model="message.repass" name="name">
                                 </div>
                              </div>
                           </div>
                           <button type="submit" class="btn btn-primary btn-block mt-2">Submit</button>
                           
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </body>
</template>
<script>
    export default {
        data(){
            return {
              
                message:{},
                proxyUrl: process.env.MIX_APP_URL,
                
            }
        },
        methods: {
            changePassword() {
              this.$loading(true)
              const token = 'Bearer  ' + localStorage.getItem('token');
                let uri =this.proxyUrl+`changePassword`;
                this.axios.post(uri, this.message,{headers: {Authorization:token}}).then((response) => {
                   this.$loading(false)
                   
                    if(response.data.status){
                            this.$toast.open({ message: response.data.message,type: "success", position: "top", });
                           this.logout();
                    }else{
                        this.$toast.open({ message: response.data.message,type: "error", position: "top", });
                       
                    }
                }).catch(error => {
                     this.$loading(false)
                     if (error.response.status === 401) {
                    this.$router.push({ name: "login" });
                    clearSession();
                    } else {
                    this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
                    });
                    }
                   body
                });

            },
            logout(){
            localStorage.removeItem('token');
            localStorage.removeItem('auth');
            this.$router.push({name:'login'});
        }

        },



    }

</script>