<template>
 <div class="container ">
        <div class="row justify-content-center">
        
            <div class="col-sm-12">  
              <div class="card card-block card-stretch">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center p-3">
                                    <h5 class="font-weight-bold">Taxes</h5>

                              <div class="create-workform">
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <div class="modal-product-search d-flex">
                               <!--  <button type="button"  class="btn btn-primary position-relative d-flex align-items-center justify-content-between" data-toggle="modal" data-target="#exampleModalLabel">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                                    </svg>
                                    Add Taxes
                               </button>-->
                                  <button type="button"  class="btn btn-warning position-relative d-flex align-items-center justify-content-between" data-toggle="modal" data-target="#exampleModalLabel" >
                                       <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                                    </svg>
                     Add Taxes
                     </button>
                            </div>                            
                        </div>
                    </div>                    
                </div>
             </div>
            <div class="table-responsive ">
     <table class="table table-sm table-bordered" id="table">
        <thead class="table-color-heading">
          <tr>
                                              
             <th scope="col"> #</th>
             <th scope="col">Tax name </th>
            <th scope="col"> Percentage </th>
            <th scope="col"> Action </th>
              </tr>
             </thead>
            <tbody>
      <tr v-for="(data, index) in taxes" :key="data.id">
         <td>{{index+1}}</td>
         <td>{{data.name}}</td>
         <td>{{data.percent}}%</td>
     <!-- <td> <router-link :to="{name: 'editTaxes', params: { id: data.id }}"  class="btn btn-success btn-sm">Edit</router-link></td>-->
    <td><a href="#" class="fa fa-edit"   v-on:click ="showModal(data.id, data.name, data.percent)"> </a></td>
        </tr>
             </tbody>
             </table>
             </div>
                </div>
             </div>
             
                </div>            
                 <!-- Modal -->
         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal">Edit Taxes</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
                <div class="modal-body">
                   <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" v-model="message.name"  id="name" name="name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">percentage:</label>
            <input type="text" class="form-control" v-model="message.percent"  id="percent" name="percent">
          </div>
        </form>
                              </div>
                              <div class="modal-footer">
                                   <button type="button" class="btn btn-warning" @click ="updateChanges()">Update</button>
                                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                
                              </div>
                           </div>
                        </div>
                     </div>

                            <!-- Modal -->
         <div class="modal fade" id="exampleModalLabel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Taxes</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
                <div class="modal-body">
                   <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" v-model="message.name"  id="name" name="name" placeholder="Name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">percentage:</label>
            <input type="text" class="form-control" v-model="message.percent"  id="percent" name="percent" placeholder="percentage e.g 3.4">
          </div>
        </form>
                              </div>
                              <div class="modal-footer">
                                   <button type="button" class="btn btn-warning" v-on:click="addTaxes()" >Submit</button>
                                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                
                              </div>
                           </div>
                        </div>
                     </div>
                
                


            </div>
        
    

</template>
<script>
    export default {
        data(){
            return {
                taxes: [],
                message:{name:'',percent:''},
                proxyUrl: process.env.MIX_APP_URL,
                
            }
        },
        created(){
           this.getTaxes(); 


        },
        
        methods: {
            getTaxes() {
              this.$loading(true)
              const token = 'Bearer  ' + localStorage.getItem('token');
                let uri =this.proxyUrl+`taxes`;
                this.axios.get(uri,{headers: {Authorization:token}}).then((response) => {
                   this.$loading(false)
                   
                   this.taxes=response.data.taxes
                      
                }).catch(error => {
                    this.$loading(false)
                  
                    this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                });

            },
            showModal(id,name,percent){
                this.message.id=id;
                this.message.name=name;
                this.message.percent=percent;
                $('#exampleModal').modal('show')
            },
updateChanges(){
    this.$loading(true)
              const token = 'Bearer  ' + localStorage.getItem('token');
                let uri =this.proxyUrl+`taxes/update`;
                this.axios.post(uri,this.message,{headers: { Authorization: token}}).then((response) => {
                    this.$loading(false)
                  if(response.data.status){
                            $('#exampleModal').modal('hide');
                            this.$toast.open({ message: response.data.message,type: "success", position: "top", });
                            this.getTaxes();
                    }else{
                        this.$toast.open({ message: response.data.message,type: "error", position: "top", });
                    }
                      
                }).catch(error => {
                    this.$loading(false)
                     if (error.response.status === 401) {
                    this.$router.push({ name: "login" });
                    clearSession();
                    } else {
                    this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
                    });
                    }
                });


    
},
 addTaxes() {
              this.$loading(true)
              const token = 'Bearer  ' + localStorage.getItem('token');
                let uri =this.proxyUrl+`taxes`;
                this.axios.post(uri, this.message,{headers: {Authorization:token}}).then((response) => {
                   this.$loading(false)
                  if(response.data.status){
                            $('#exampleModalLabel').modal('hide');
                            this.$toast.open({ message: response.data.message,type: "success", position: "top", });
                            this.getTaxes();
                    }else{
                        this.$toast.open({ message: response.data.message,type: "error", position: "top", });
                    }
                 }).catch(error => {
                     this.$loading(false)
                     if (error.response.status === 401) {
                    this.$router.push({ name: "login" });
                    clearSession();
                    } else {
                    this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
                    });
                    }
                });

            },

        },



    }

</script>