<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12"> 
              <div class="card">
                  <div class="card-title">Teachers</div>
            <div class="card-body">
         
          <div class="table-responsive ">
          <table class="table table-sm table-bordered" id="table">
   <thead class="table-color-heading">
         <tr class="">
                                              
         <th > # </th>
         <th > Name </th>
         <th > Email </th>
         <th > Phone</th>
         <th > Gender</th>
         <th >Status</th>
          <th >Date</th>
           <th >Institution</th>
           <th >Balance</th>
            <th >Actions</th>
            </tr>
            </thead>
             <tbody>
                 <tr v-for="(data, index) in teachers" :key="data.id">
         <td>{{index+1}}</td>
         <td>{{data.name}}</td>
         <td>{{data.email}}</td>
         <td>{{data.phone}}</td>
          <td>{{data.gender}}</td>
         <td v-if="data.status==='Active'" class="text-success">{{data.status}} </td>
         <td v-else class="text-danger">{{data.status}} </td>
         <td>{{data.created_at}}</td>
         <td>{{data.institution}}</td>
         <td>Ksh.{{formatPrice(data.amount)}}</td>
         <td v-if="data.status==='unapproved'" class="d-flex">
             <a v-on:click="approve(data.id,'Active')" class="btn btn-success btn-sm mr-1">Approve</a>
              <a v-on:click="approve(data.id,'Rejected')" class="btn btn-danger btn-sm">Reject</a>
             </td>
        </tr>
           </tbody>
             </table>
                 </div>
             </div>
                        </div>
                   
                </div>
        </div>


                <div class="modal fade" id="approve" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="exampleModalLabel">Approve/Reject</h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                                 </button>
                              </div>
                              <div class="modal-body">
                                <h5 v-if="message.status==='Active'">Are you sure you want to <span class="text-success"> Approve</span> this teacher application?</h5>
                                <h5 v-else>Are you sure you want to <span class="text-danger"> Reject</span> this teacher application?</h5>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                 <button type="button" v-on:click="approveNow()" class="btn btn-primary">Submit</button>
                              </div>
                           </div>
                        </div>
         </div>
            </div>


</template>
<script>
    export default {
        data(){
            return {
                teachers: [],
                proxyUrl: process.env.MIX_APP_URL,
                message:{id:'',status:''},
            }
        },
        created(){
           this.getTeachers(); 
        },
        methods: {
            approve(id,status){
                this.message.id=id;
                this.message.status=status;
                 $('#approve').modal('show');
            },
            approveNow(){
              this.$loading(true)
              const token = 'Bearer  ' + localStorage.getItem('token');
                let uri =this.proxyUrl+`approve`;
                this.axios.post(uri,this.message,{headers: {Authorization:token}}).then((response) => {
                   this.$loading(false)
                  if(response.data.status){
                            $('#approve').modal('hide');
                            this.$toast.open({ message: response.data.message,type: "success", position: "top", });
                            this.getTeachers();
                    }else{
                        this.$toast.open({ message: response.data.message,type: "error", position: "top", });
                       
                    }
                }).catch(error => {
                     this.$loading(false)
                     if (error.response.status === 401) {
                    this.$router.push({ name: "login" });
                    clearSession();
                    } else {
                    this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
                    });
                    }
                });
            },
            getTeachers() {
              this.$loading(true)
              const token = 'Bearer  ' + localStorage.getItem('token');
                let uri =this.proxyUrl+`teachers`;
                this.axios.get(uri,{headers: {Authorization:token}}).then((response) => {
                   this.$loading(false)
                   this.teachers=response.data.teachers
                }).catch(error => {
                    this.$loading(false)
                     if (error.response.status === 401) {
                    this.$router.push({ name: "login" });
                    clearSession();
                    } else {
                    this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
                    });
                    }
                });

            },
             formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        },



    }

</script>
