<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12"> 
              <div class="card">
            <div class="card-body">
<div class="d-flex justify-content-between align-items-center p-3">
                                    <h5 class="font-weight-bold">Users</h5>

                              <div class="create-workform">
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <div class="modal-product-search d-flex">
                                  <button type="button"  class="btn btn-warning position-relative d-flex align-items-center justify-content-between" data-toggle="modal" data-target="#exampleModal" >
                                       <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                                    </svg>
                     Add users
                     </button>
                            </div>                            
                        </div>
                    </div>                    
                </div>
         
          <div class="table-responsive ">
          <table class="table table-sm table-bordered" id="table">
   <thead class="table-color-heading">
         <tr class="">
                                              
         <th scope="col"> # </th>
         <th scope="col"> Name </th>
         <th scope="col"> Email </th>
         <th scope="col"> Phone</th>
         <th scope="col"> Gender</th>
         <th scope="col">Status</th>
          <th scope="col">Action</th>
          
            </tr>
            </thead>
             <tbody>
                 <tr v-for="(data, index) in users" :key="data.id">
         <td>{{index+1}}</td>
         <td>{{data.name}}</td>
         <td>{{data.email}}</td>
         <td>{{data.phone}}</td>
          <td>{{data.gender}}</td>
         <td v-if="data.status==='Active'" class="text-success">{{data.status}} </td>
         <td v-else class="text-danger">{{data.status}} </td>
         <td><a href="#" v-on:click="getUser(data.id)" class="fa fa-edit" data-toggle="modal" data-target="#edit"></a></td>
         
        </tr>
           </tbody>
             </table>
                 </div>
             </div>
                        </div>
                   
                </div>


        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal">Add new user</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
                <div class="modal-body">
                   <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" v-model="message.name"  id="name" name="name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Email:</label>
             <input type="text" class="form-control" v-model="message.email"  id="percent" name="percent">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Phone:</label>
            <vue-tel-input class="form-control" v-model="message.phone" v-bind="bindProps"></vue-tel-input>
          </div>
        </form>
                              </div>
                              <div class="modal-footer">
                                   <button type="button" class="btn btn-warning" @click ="addUser()">Submit</button>
                                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                
                              </div>
                           </div>
                        </div>
                     </div>



                     <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal">Edit user</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
                <div class="modal-body">
                   <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" v-model="message.name"  id="name" name="name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Email:</label>
             <input type="text" class="form-control" v-model="message.email"  id="percent" name="percent">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Phone:</label>
            <vue-tel-input class="form-control" v-model="message.phone" v-bind="bindProps"></vue-tel-input>
          </div>
        </form>
                              </div>
                              <div class="modal-footer">
                                   <button type="button" class="btn btn-warning" @click ="updateUser()">Update</button>
                                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                
                              </div>
                           </div>
                        </div>
                     </div>
               
            </div>


</template>
<script>
    export default {
        data(){
            return {
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                users: [],
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
            }
        },
        created(){
           this.getUsers(); 
        },
        methods: {
           addUser(){
              this.$loading(true)
              const token = 'Bearer  ' + localStorage.getItem('token');
                let uri =this.proxyUrl+`addUser`;
                this.axios.post(uri, this.message,{headers: {Authorization:token}}).then((response) => {
                   this.$loading(false)
                  if(response.data.status){
                            $('#exampleModal').modal('hide');
                            this.$toast.open({ message: response.data.message,type: "success", position: "top", });
                            this.getUsers();
                            this.message={};
                    }else{
                        this.$toast.open({ message: response.data.message,type: "error", position: "top", });
                    }
                 }).catch(error => {
                     this.$loading(false)
                     if (error.response.status === 401) {
                    this.$router.push({ name: "login" });
                    clearSession();
                    } else {
                    this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
                    });
                    }
                });

           },
           updateUser(){
 this.$loading(true)
              const token = 'Bearer  ' + localStorage.getItem('token');
                let uri =this.proxyUrl+`updateUser`;
                this.axios.post(uri, this.message,{headers: {Authorization:token}}).then((response) => {
                   this.$loading(false)
                  if(response.data.status){
                            $('#edit').modal('hide');
                            this.$toast.open({ message: response.data.message,type: "success", position: "top", });
                            this.getUsers();
                            this.message={};
                    }else{
                        this.$toast.open({ message: response.data.message,type: "error", position: "top", });
                    }
                 }).catch(error => {
                     this.$loading(false)
                     if (error.response.status === 401) {
                    this.$router.push({ name: "login" });
                    clearSession();
                    } else {
                    this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
                    });
                    }
                });
           },
            getUsers() {
              this.$loading(true)
              const token = 'Bearer  ' + localStorage.getItem('token');
                let uri =this.proxyUrl+`users`;
                this.axios.get(uri,{headers: {Authorization:token}}).then((response) => {
                   this.$loading(false)
                   this.users=response.data
                }).catch(error => {
                    this.$loading(false)
                     if (error.response.status === 401) {
                    this.$router.push({ name: "login" });
                    clearSession();
                    } else {
                    this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
                    });
                    }
                });

            },
            getUser(id) {
              this.$loading(true)
              const token = 'Bearer  ' + localStorage.getItem('token');
                let uri =this.proxyUrl+`getUser/${id}`;
                this.axios.get(uri,{headers: {Authorization:token}}).then((response) => {
                   this.$loading(false)
                   this.message=response.data.user;
                }).catch(error => {
                    this.$loading(false)
                     if (error.response.status === 401) {
                    this.$router.push({ name: "login" });
                    clearSession();
                    } else {
                    this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
                    });
                    }
                });

            },
             formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        },



    }

</script>
