<template>
    <div class="container">
        <div class="row justify-content-center">
       
            <div class="col-sm-12"> 
              <div class="card card-block card-stretch">
                 <div class="card-body">
                     <div class="d-flex justify-content-between align-items-center p-3">
                    <h5 class="font-weight-bold">Mpesa Transactions</h5>
                    </div>
             <div class="table-responsive ">
            <table class="table table-sm table-bordered" id="table">
         <thead class="table-color-heading">
     <tr class="">
                                              
        <th scope="col"> # </th>
         <th scope="col">Mpesa Ref </th>
         <th scope="col">System Ref</th>
         <th scope="col"> Amount</th>
         <th scope="col"> Status </th>
         <th scope="col">Order </th>
             <th scope="col">Phone</th>
            <th scope="col"> Payment Date </th>
            </tr>
             </thead>
            <tbody>
         <tr v-for="(data, index) in transactions" :key="data.id">
         <td>{{index+1}}</td>
         <td>{{data.mpesa_ref}}</td>
         <td>{{data.system_ref}}</td>
        <td>Ksh.{{formatPrice(data.amount)}}</td>
         <td>{{data.status}}</td>
          <td>{{data.order_no}}</td>
          <td>{{data.phone}}</td>
          <td>{{data.updated_at}}</td>
    
        </tr>
           </tbody>
                                    </table>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</template>
<script>
    export default {
        data(){
            return {
                transactions: [],
                proxyUrl: process.env.MIX_APP_URL,
                
            }
        },
        created(){
           this.getTransaction(); 
        },
        
        methods: {
            getTransaction() {
              this.$loading(true)
              const token = 'Bearer  ' + localStorage.getItem('token');
                let uri =this.proxyUrl+`transactions/mpesa`;
                this.axios.get(uri,{headers: {Authorization:token}}).then((response) => {
                   this.$loading(false)
                   
                   this.transactions=response.data.trans
                      
                }).catch(error => {
                      this.$loading(false)
                    if (error.response.status === 401) {
                    this.$router.push({ name: "login" });
                    clearSession();
                    } else {
                    this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
                    });
                    }
                });

            },
             formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        },



    }

</script>